# MongoDB Atlas
MONGO_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/forense?retryWrites=true&w=majority

# Credenciais de login do dashboard
LOGIN_USER=admin
LOGIN_PASS=minha_senha_segura

# E-mail para envio de relatórios
EMAIL_ORIGEM=seuemail@gmail.com
SENHA_APP=senha_de_app_gmail

# Ambiente Flask (production / development)
FLASK_ENV=production
